/* li {
  margin: 0px 20px;
}

.socials a:hover {
  color: #6b5517;
}

.Footer3 {
  background: #6b5517;
  width: 100vw;
  padding: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.Footer3 .footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  color: #ffffff;
}

.Footer3 .footer-bottom p a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}


.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #bfb49c;
}

@media (max-width:500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
} */