.header {
    display: flex;
    width: 100%;
    height: 180px;
    background-image: linear-gradient(to right, rgba(37, 31, 31, 0), rgb(129, 194, 145));
    flex-direction: row;
    justify-content: space-between;
  }

.header-logo {
    width: 230px;
    height: 130px;
    color: inherit;
    text-decoration: inherit;
    font-family: RobotoThin;
 }
  
.header-info {
    width: 300px;
    display: flex;
    flex-direction: row;
    text-decoration: inherit;
    font-family: RobotoThin;
    color:#787704;
    height:137px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;   
    align-items: center;
  }
 
  .header-buttons {
    width: 250px;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-content: center;
    margin-right: 30px;
  }  
  
  .header-button {
    backface-visibility: hidden;
    background-color: #4d8e68;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    overflow: hidden;
    padding: 13px 38px;
    position: relative;
    text-align: center;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    touch-action: manipulation;
    vertical-align: top;
  }
  
  .header-button:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }
  
  .header-button:active {
    transform: translateY(2px);
    transition-duration: .35s;
  }
  
  .header-button:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
  }
  

  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; 
    }
    .header {
      display: flex;
      width: 100%;
      height:auto;
      background-image: linear-gradient(to right, rgba(37, 31, 31, 0), #81c291);
      flex-direction: column;
      justify-content: center;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
  }
  
  }
  